*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 1440px;
    margin: 0 auto;
    background-image: url("/img/hero/hero-bg.jpg");
    background-repeat: no-repeat;
    height: 1024px;
}

.hero{
    font-family: Arial;
    text-align: center;
    color: #fff;
    padding: 390px 50px;
}

.hero h1{
    font-size: 80px;
    line-height: 81px;
    letter-spacing: -0.9px;
    margin-bottom: 24px;
}

.hero h3{
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.35px;
    margin-bottom: 40px;
}

.btn{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    border-radius: 32px;
    background: #094BAC;
    padding: 16px 40px;
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 32px 165px;
}
.navbar-link{
    display: flex;
    gap: 40px;
    color: #fff;
}
.icons{
    display: flex;
    gap: 40px;
}